<div class="form-group" id="publications-<%= publication.id %>">
  <%= simple_form_for [publication] do |f| %>
  <%= f.input :content, class:"form-control",
      label: 'Contenu',
      placeholder: "C'est ici que tu publies...",
      error: "Ecrivez votre publication"
  %>
  <%= f.input :photo, as: :file,
      error: "Ajoute une photo" %>
  <%= f.input :sport,
      label: "Choisissez un sport",
      collection: Publication::SPORTS
  %>
  <%= f.button :submit, "Kish'", class:"btn btn-primary btn-sm mt-2 text-center" %>
  <% end %>
</div>
