<li class="list-group-item">
  <div class="d-flex flex-row">
      <%= cl_image_tag publication.user.photo.key, class:"avatar m-2" %>
      <div class="d-flex flex-column gap-2">
        <div class="d-flex flex-row justify-content-between">
          @<%= publication.user.username %>
          <small>Il y a <%= time_ago_in_words(publication.created_at) %></small>
            <%# <%= I18n.l(publication.created_at,format: "%d %B %Y %R") %>
        </div>
      <div>
        <%= publication.content %>
        <%= publication.sport %>
      </div>
      <% if publication.photo.attached? %>
        <div class="publication-img" style="mw-100">
        <%= cl_image_tag publication.photo.key, width: 200 %>
      </div>
      <% end %>
      </div>
  </div>
</li>
