<div class="row">
    <div class="col-md-6 col-xs-12 col-md-offset-3">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Sportify Feed</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">

            <%= simple_form_for [@publication] do |f| %>
            <%= f.input :content, class:"form-control",
                label: 'Contenu',
                placeholder: "C'est ici que tu publies...",
                error: "Ecrivez votre publication"
            %>
            <%= f.input :sport,
                label: "Choisissez un sport",
                collection: Publication::SPORTS
             %>
             <%= f.button :submit, "Kish'", class:"btn btn-primary btn-sm mt-2 text-center" %>
             <% end %>
          </div>
          <div class="clearfix"></div>
          <hr class="margin-bottom-10">
          <ul class="list-group list-group-dividered list-group-full">
          <% @publications.each do |publication| %>
            <li class="list-group-item">
              <div class="d-flex flex-row">
                  <%= cl_image_tag publication.user.photo.key, class:"avatar m-2" %>
                  <div class="d-flex flex-column gap-2">
                    <div class="d-flex flex-row justify-content-between">
                      @<%= publication.user.username %>
                      <small>Il y a <%= time_ago_in_words(publication.created_at) %></small>
                        <%# <%= I18n.l(publication.created_at,format: "%d %B %Y %R") %>
                    </div>
                  <div class="">
                    <%= publication.content %>
                  </div>
                  </div>
              </div>
            </li>
            <% end %>
            </ul>
          <span class="text-info">1 sportif connecté</span>
        </div>
      </div>
    </div>
</div>
