<div class="position-relative d-flex flex-column align-items-center">
<div class="container mt-3 ms-0">
  <div class="row">
      <div class="col-md-6 col-xs-12 col-md-offset-3">
        <div class="panel">
          <div class="panel-heading">
            <h1 class="event-title-font text-center">Actus Sportify</h1>
          </div>
          <%# Tes sports favoris: <%=  %>

          <div class="panel-body">
            <hr class="margin-bottom-10">
            <%= turbo_stream_from "publications" %>
            <ul id="publications" class="list-group list-group-dividered list-group-full">
              <% @publications.order(created_at: :desc).each do |publication| %>
                <div data-controller="like-button display-comments" class="d-flex justify-content-start publi-div"%>
                  <%# <%= render `#{publication.kind_of}_card`%>
                  <% if publication.kind_of == "player_creation" %>
                    <%= render "player_creation_card", publication: publication %>
                    <div class="" >
                      <%# <%= render "comments", publication: publication %>
                      <%# <%= render "form_comment", comment: @comment %>
                    </div>
                  <% elsif publication.kind_of == "event_creation" %>
                    <%= render "event_creation_card", publication: publication %>
                    <div class="" >
                      <%# <%= render "comments", publication: publication %>
                      <%# <%= render "form_comment", comment: @comment %>
                    </div>
                  <% end %>
                </div>
              <% end %>
              <div class="d-flex justify-content-center">
                <%= render "form", publication: @publication %>
              </div>
            </ul>
            <%# <span class="text-info">1 sportif connecté</span> %>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
