<div class="navbar-sportify d-flex justify-content-between align-items-center m-0 px-3 ">
  <div class="icon-home">
    <%= link_to root_path do %>
      <svg width="23" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path id="Vector" d="M10.2606 0.397864C10.6069 0.140977 11.0461 0 11.5 0C11.9539 0 12.3931 0.140977 12.7394 0.397864L22.3228 7.51853C22.535 7.67609 22.7055 7.87222 22.8224 8.0933C22.9394 8.31437 23 8.5551 23 8.79875V19.3214C23 19.7666 22.7981 20.1935 22.4386 20.5083C22.0792 20.8231 21.5917 21 21.0833 21H13.7361C13.4819 21 13.2382 20.9116 13.0585 20.7542C12.8787 20.5968 12.7778 20.3833 12.7778 20.1607V13.1665H10.2222V20.1607C10.2222 20.3833 10.1213 20.5968 9.94153 20.7542C9.76181 20.9116 9.51805 21 9.26389 21H1.91667C1.40834 21 0.920823 20.8231 0.561379 20.5083C0.201934 20.1935 0 19.7666 0 19.3214V8.79875C0 8.30635 0.247889 7.83746 0.677222 7.51853L10.2606 0.397864ZM11.5 1.67808L1.91667 8.79875V19.3214H8.30556V12.3272C8.30556 12.1046 8.40652 11.8911 8.58625 11.7337C8.76597 11.5763 9.00972 11.4879 9.26389 11.4879H13.7361C13.9903 11.4879 14.234 11.5763 14.4138 11.7337C14.5935 11.8911 14.6944 12.1046 14.6944 12.3272V19.3214H21.0833V8.79875L11.5 1.67808Z" fill="#DDDDDD"/>
      </svg>
    <% end %>
  </div>
  <div class="icon-search">
    <%= link_to search_path do %>
      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M15.6062 17.0677C13.7491 18.5517 11.3942 19.2681 9.02537 19.07C6.65649 18.8718 4.4534 17.7741 2.86857 16.0022C1.28374 14.2303 0.437483 11.9188 0.503602 9.54247C0.569721 7.1661 1.5432 4.90525 3.2241 3.22425C4.905 1.54326 7.16572 0.569725 9.54195 0.503602C11.9182 0.43748 14.2295 1.28379 16.0013 2.86871C17.7731 4.45363 18.8708 6.65684 19.0689 9.02586C19.2671 11.3949 18.5506 13.7498 17.0668 15.6071L24.1711 22.7104C24.2726 22.8051 24.3541 22.9191 24.4105 23.0459C24.467 23.1727 24.4974 23.3095 24.4998 23.4483C24.5023 23.5871 24.4768 23.7249 24.4248 23.8536C24.3728 23.9823 24.2955 24.0992 24.1973 24.1973C24.0992 24.2954 23.9823 24.3728 23.8536 24.4248C23.7249 24.4768 23.5871 24.5023 23.4484 24.4998C23.3096 24.4974 23.1728 24.467 23.046 24.4105C22.9192 24.354 22.8052 24.2726 22.7105 24.1711L15.6062 17.0677ZM4.68523 14.9154C3.67393 13.9039 2.98514 12.6153 2.70593 11.2125C2.42672 9.80967 2.56961 8.35555 3.11654 7.03391C3.66347 5.71226 4.58989 4.58243 5.77872 3.78718C6.96756 2.99194 8.36544 2.56698 9.79571 2.56602C11.226 2.56505 12.6244 2.98813 13.8143 3.78177C15.0042 4.57542 15.9322 5.70401 16.4809 7.02491C17.0296 8.34582 17.1744 9.79975 16.8971 11.203C16.6198 12.6062 15.9328 13.8957 14.9228 14.9085L14.9159 14.9154L14.909 14.9209C13.552 16.2749 11.713 17.0348 9.79599 17.0338C7.87902 17.0328 6.04084 16.2708 4.68523 14.9154Z" fill="#DDDDDD"/>
      </svg>
    <% end %>
  </div>
  <div class="icon-plus-sign">
    <%= link_to new_event_path do %>
      <div class="white-circle">
        <div class="plus-sign">
          <svg width="60" viewBox="0 0 60 58" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="Plus sign ">
          <ellipse id="Ellipse 2" cx="30" cy="28.9096" rx="30" ry="28.9096" fill="#071952"/>
          <path id="Line 1" d="M18 28.9097H43" stroke="white" stroke-width="3" stroke-linecap="round"/>
          <path id="Line 2" d="M30 40.4735V16.3822" stroke="white" stroke-width="3" stroke-linecap="round"/>
          </g>
          </svg>
        </div>
      </div>
    <% end %>
  </div>
  <div class="icon-calendar">
    <%= link_to my_events_path do %>
      <svg width="25" viewBox="0 0 25 27" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="Events">
      <path id="Vector" d="M22.3036 3.1H20.9555V0.5H18.2592V3.1H7.47402V0.5H4.77772V3.1H3.42957C1.93313 3.1 0.746758 4.27 0.746758 5.7L0.733276 23.9C0.733276 25.33 1.93313 26.5 3.42957 26.5H22.3036C23.7866 26.5 24.9999 25.33 24.9999 23.9V5.7C24.9999 4.27 23.7866 3.1 22.3036 3.1ZM22.3036 23.9H3.42957V10.9H22.3036V23.9ZM8.82216 16.1H6.12587V13.5H8.82216V16.1ZM14.2148 16.1H11.5185V13.5H14.2148V16.1ZM19.6073 16.1H16.9111V13.5H19.6073V16.1ZM8.82216 21.3H6.12587V18.7H8.82216V21.3ZM14.2148 21.3H11.5185V18.7H14.2148V21.3ZM19.6073 21.3H16.9111V18.7H19.6073V21.3Z" fill="#DDDDDD"/>
      </g>
      </svg>
    <% end %>
  </div>
  <div class="icon-profile">
    <%= link_to root_path do %>
      <svg width="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="vuesax/linear/user">
      <g id="user">
      <path id="Vector" d="M13.5 13.5C16.6066 13.5 19.125 10.9816 19.125 7.875C19.125 4.7684 16.6066 2.25 13.5 2.25C10.3934 2.25 7.875 4.7684 7.875 7.875C7.875 10.9816 10.3934 13.5 13.5 13.5Z" stroke="#DDDDDD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path id="Vector_2" d="M23.1638 24.75C23.1638 20.3963 18.8325 16.875 13.5 16.875C8.16755 16.875 3.8363 20.3963 3.8363 24.75" stroke="#DDDDDD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
      </g>
      </svg>
    <% end %>
  </div>

</div>
