<div class="navbar-sportify d-flex justify-content-between align-items-center m-0 px-3 ">
  <div class="icon-home">
    <%= link_to root_path do %>
      <svg width="23" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path id="Vector" d="M10.2606 0.397864C10.6069 0.140977 11.0461 0 11.5 0C11.9539 0 12.3931 0.140977 12.7394 0.397864L22.3228 7.51853C22.535 7.67609 22.7055 7.87222 22.8224 8.0933C22.9394 8.31437 23 8.5551 23 8.79875V19.3214C23 19.7666 22.7981 20.1935 22.4386 20.5083C22.0792 20.8231 21.5917 21 21.0833 21H13.7361C13.4819 21 13.2382 20.9116 13.0585 20.7542C12.8787 20.5968 12.7778 20.3833 12.7778 20.1607V13.1665H10.2222V20.1607C10.2222 20.3833 10.1213 20.5968 9.94153 20.7542C9.76181 20.9116 9.51805 21 9.26389 21H1.91667C1.40834 21 0.920823 20.8231 0.561379 20.5083C0.201934 20.1935 0 19.7666 0 19.3214V8.79875C0 8.30635 0.247889 7.83746 0.677222 7.51853L10.2606 0.397864ZM11.5 1.67808L1.91667 8.79875V19.3214H8.30556V12.3272C8.30556 12.1046 8.40652 11.8911 8.58625 11.7337C8.76597 11.5763 9.00972 11.4879 9.26389 11.4879H13.7361C13.9903 11.4879 14.234 11.5763 14.4138 11.7337C14.5935 11.8911 14.6944 12.1046 14.6944 12.3272V19.3214H21.0833V8.79875L11.5 1.67808Z" fill="#DDDDDD"/>
      </svg>
    <% end %>
  </div>
  <div class="icon-map">
    <%= link_to search_path do %>
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="white">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6645 3.67096C13.3956 2.08409 16.7525 2.11183 19.458 3.74362C22.1368 5.40864 23.765 8.38022 23.7498 11.5768C23.6874 14.7524 21.9416 17.7375 19.7593 20.0451C18.4998 21.383 17.0908 22.566 15.5611 23.57C15.4035 23.6611 15.2309 23.7221 15.0519 23.75C14.8795 23.7427 14.7116 23.6917 14.5634 23.6018C12.228 22.0932 10.1792 20.1675 8.51541 17.9175C7.12323 16.0392 6.33229 13.77 6.25 11.418C6.24819 8.21531 7.93346 5.25784 10.6645 3.67096ZM12.2427 12.7434C12.7021 13.876 13.7865 14.6147 14.9895 14.6147C15.7776 14.6204 16.5352 14.3047 17.0935 13.738C17.6518 13.1713 17.9643 12.4007 17.9616 11.5979C17.9658 10.3725 17.2443 9.26533 16.1341 8.79341C15.0238 8.32148 13.7438 8.57788 12.8916 9.44287C12.0395 10.3079 11.7833 11.6108 12.2427 12.7434Z" fill="#DDDDDD"/>
      <path opacity="0.4" d="M15 27.5C18.4518 27.5 21.25 26.9404 21.25 26.25C21.25 25.5596 18.4518 25 15 25C11.5482 25 8.75 25.5596 8.75 26.25C8.75 26.9404 11.5482 27.5 15 27.5Z" fill="#DDDDDD"/>
    </svg>
    <% end %>
  </div>
  <div class="icon-plus-sign">
    <%= link_to new_event_path do %>
      <div class="white-circle">
        <div class="plus-sign">
          <svg width="60" viewBox="0 0 60 58" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="Plus sign ">
          <ellipse id="Ellipse 2" cx="30" cy="28.9096" rx="30" ry="28.9096" fill="#071952"/>
          <path id="Line 1" d="M18 28.9097H43" stroke="white" stroke-width="3" stroke-linecap="round"/>
          <path id="Line 2" d="M30 40.4735V16.3822" stroke="white" stroke-width="3" stroke-linecap="round"/>
          </g>
          </svg>
        </div>
      </div>
    <% end %>
  </div>
  <div class="icon-calendar">
    <%= link_to my_events_path do %>
      <svg width="25" viewBox="0 0 25 27" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="Events">
      <path id="Vector" d="M22.3036 3.1H20.9555V0.5H18.2592V3.1H7.47402V0.5H4.77772V3.1H3.42957C1.93313 3.1 0.746758 4.27 0.746758 5.7L0.733276 23.9C0.733276 25.33 1.93313 26.5 3.42957 26.5H22.3036C23.7866 26.5 24.9999 25.33 24.9999 23.9V5.7C24.9999 4.27 23.7866 3.1 22.3036 3.1ZM22.3036 23.9H3.42957V10.9H22.3036V23.9ZM8.82216 16.1H6.12587V13.5H8.82216V16.1ZM14.2148 16.1H11.5185V13.5H14.2148V16.1ZM19.6073 16.1H16.9111V13.5H19.6073V16.1ZM8.82216 21.3H6.12587V18.7H8.82216V21.3ZM14.2148 21.3H11.5185V18.7H14.2148V21.3ZM19.6073 21.3H16.9111V18.7H19.6073V21.3Z" fill="#DDDDDD"/>
      </g>
      </svg>
    <% end %>
  </div>
  <div class="icon-profile">
    <%= link_to root_path do %>
      <svg width="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="vuesax/linear/user">
      <g id="user">
      <path id="Vector" d="M13.5 13.5C16.6066 13.5 19.125 10.9816 19.125 7.875C19.125 4.7684 16.6066 2.25 13.5 2.25C10.3934 2.25 7.875 4.7684 7.875 7.875C7.875 10.9816 10.3934 13.5 13.5 13.5Z" stroke="#DDDDDD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path id="Vector_2" d="M23.1638 24.75C23.1638 20.3963 18.8325 16.875 13.5 16.875C8.16755 16.875 3.8363 20.3963 3.8363 24.75" stroke="#DDDDDD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
      </g>
      </svg>
    <% end %>
  </div>

</div>
