<nav class="new-navbar">

  <%# La forme incurvée de la navbar ci-dessous %>
  <div class="inner-navbar-dimensions">

    <svg xmlns="http://www.w3.org/2000/svg" class="w-100 h-100" viewBox="0 0 360 75" fill="none">
      <path d="M360 75H0V0H99.9165C160 0 148.5 24 180 24C211.5 24 200 0 261.711 0H360V75Z" fill="#051925"/>
    </svg>

  </div>


  <%# La liste de icones que l'on vient placer sur la forme au-dessus %>
  <div class="list-navbar-icons ">

    <div class="d-flex flex-column gap-1 justify-content-center ">
      <%= link_to root_path do %>
          <div class="icon ">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="25" viewBox="0 0 22 25" class="<%= current_page?(root_path) ? "nav-link-active" : "nav-link" %>">
                <path d="M2.94292 24.25C2.20434 24.25 1.57231 23.9872 1.0468 23.4617C0.520402 22.9353 0.257202 22.3029 0.257202 21.5643V9.47857C0.257202 9.05333 0.352545 8.65048 0.54323 8.27C0.733021 7.88952 0.995774 7.57619 1.33149 7.33L9.38863 1.28714C9.63482 1.1081 9.8922 0.973809 10.1608 0.884286C10.4293 0.794762 10.7091 0.75 11.0001 0.75C11.291 0.75 11.5708 0.794762 11.8393 0.884286C12.1079 0.973809 12.3653 1.1081 12.6115 1.28714L20.6686 7.33C21.0043 7.57619 21.2675 7.88952 21.4582 8.27C21.648 8.65048 21.7429 9.05333 21.7429 9.47857V21.5643C21.7429 22.3029 21.4802 22.9353 20.9547 23.4617C20.4283 23.9872 19.7958 24.25 19.0572 24.25H13.6858V14.85H8.31434V24.25H2.94292Z"/>
            </svg>
          </div>
        <div class="mt-1 text-icons <%= current_page?(root_path) ? "nav-link-active" : "nav-link" %> text-icons"> Accueil </div>
      <% end %>
    </div>

    <div class="d-flex flex-column gap-1 justify-content-center">
      <%= link_to search_path do %>
        <div class="icon ">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 25 25 " class="<%= current_page?(search_path) ? "nav-link-active" : "nav-link" %>" >
            <path d="M17.8674 15.0943H16.7381L16.3379 14.7238C17.7387 13.1595 18.582 11.1286 18.582 8.91938C18.582 3.99314 14.4225 0 9.29102 0C4.15952 0 0 3.99314 0 8.91938C0 13.8456 4.15952 17.8388 9.29102 17.8388C11.5923 17.8388 13.7078 17.0292 15.3373 15.6844L15.7233 16.0686V17.1527L22.8702 24L25 21.9554L17.8674 15.0943ZM9.29102 15.0943C5.73185 15.0943 2.85878 12.3362 2.85878 8.91938C2.85878 5.50257 5.73185 2.74443 9.29102 2.74443C12.8502 2.74443 15.7233 5.50257 15.7233 8.91938C15.7233 12.3362 12.8502 15.0943 9.29102 15.0943Z"/>
          </svg>
        </div>
        <div class="mt-1 text-icons <%= current_page?(search_path) ? "nav-link-active" : "nav-link" %>"> Chercher </div>
      <% end %>
    </div>

    <%# Des div pour mettre plus d'espace entre les icones %>
    <div class="p-2">
    </div>

    <div class="d-flex flex-column gap-1 justify-content-center">
      <%= link_to publications_path do %>
        <div class="icon icon-profile <%= current_page?(publications_path) ? "nav-link-active" : "nav-link" %>">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 32 32">
            <path fill="" d="M12 8a4 4 0 1 1 8 0a4 4 0 0 1-8 0m-3.5 8c0-1.152.433-2.204 1.146-3H6a3 3 0 0 0-3 3v3.5a1 1 0 0 0 1 1h4.5zm15 0a4.48 4.48 0 0 0-1.146-3H26a3 3 0 0 1 3 3v3.5a1 1 0 0 1-1 1h-4.5zM3 23.5A1.5 1.5 0 0 1 4.5 22h23a1.5 1.5 0 0 1 1.5 1.5a4.5 4.5 0 0 1-4.5 4.5h-17A4.5 4.5 0 0 1 3 23.5m1-15a3.5 3.5 0 1 1 7 0a3.5 3.5 0 0 1-7 0m17 0a3.5 3.5 0 1 1 7 0a3.5 3.5 0 0 1-7 0M10 16a3 3 0 0 1 3-3h6a3 3 0 0 1 3 3v4.5H10z"/>
          </svg>
        </div>
        <div class="mt-1 text-icons <%= current_page?(publications_path) ? "nav-link-active" : "nav-link" %>"> Actus</div>
      <% end %>
    </div>

    <div class="d-flex flex-column gap-1 justify-content-center ml-3">
      <%= link_to my_events_path do %>
        <div class="icon icon-calendar">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="27" viewBox="0 0 26 27" fill="none">
            <rect x="1.3667" y="1" width="23.2667" height="25" stroke="black"/>
            <path d="M22.4371 3.1H21.0889V0.5H18.3926V3.1H7.60744V0.5H4.91114V3.1H3.563C2.06655 3.1 0.880181 4.27 0.880181 5.7L0.866699 23.9C0.866699 25.33 2.06655 26.5 3.563 26.5H22.4371C23.92 26.5 25.1334 25.33 25.1334 23.9V5.7C25.1334 4.27 23.92 3.1 22.4371 3.1ZM22.4371 23.9H3.563V10.9H22.4371V23.9ZM8.95559 16.1H6.25929V13.5H8.95559V16.1ZM14.3482 16.1H11.6519V13.5H14.3482V16.1ZM19.7408 16.1H17.0445V13.5H19.7408V16.1ZM8.95559 21.3H6.25929V18.7H8.95559V21.3ZM14.3482 21.3H11.6519V18.7H14.3482V21.3ZM19.7408 21.3H17.0445V18.7H19.7408V21.3Z"
            class="<%= current_page?(my_events_path) ? "nav-link-active" : "nav-link" %>"/>
          </svg>
        </div>
        <div class="mt-1 text-icons <%= current_page?(my_events_path) ? "nav-link-active" : "nav-link" %>"> À venir </div>
      <% end %>
    </div>

  </div>


  <%# Le signe plus mit à la fin  %>
  <%= link_to new_event_path, class: "plus-sign-navbar" do %>
    <svg width="60" viewBox="0 0 60 58" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="Plus sign ">
      <ellipse id="Ellipse 2" cx="30" cy="28.9096" rx="30" ry="28.9096" fill="#051925"/>
      <path id="Line 1" d="M18 28.9097H43" stroke="white" stroke-width="3" stroke-linecap="round"/>
      <path id="Line 2" d="M30 40.4735V16.3822" stroke="white" stroke-width="3" stroke-linecap="round"/>
      </g>
    </svg>
  <% end %>


</nav>
