  <div class="position-relative card_light" data-event-id="<%= event.id %>">
    <%= cl_image_tag event.sport.photo.key, crop: :thumb %>
  <div class="card_content">
    <div class="title">
      <%= event.name %>
    </div>
    <div class="details">
      <div class="d-flex flex-row gap-1">
        <i class="fa-solid fa-people-group" style="color:#35A29F"></i>
        <p class="mb-1">
          Déjà <%= event.participations.count %> <%= "joueur".pluralize(event.participations.count, :fr)%> /<%= event.sport.number_of_players_max %>
        </p>
      </div>
      <div class="d-flex flex-row gap-1">
        <i class="fa-solid fa-calendar" style="color:#35A29F"></i>
        <p class="mb-1">
          <%= I18n.l(event.start_at, format: "%d %B") %> - <%= I18n.l(event.start_at, format: "%R") %> à <%= I18n.l(event.end_at, format: "%R") %>
        </p>
      </div>
    </div>
  </div>
  <%= link_to event_path(event), target:"_top" do %>
    <div class="plus-btn">
      <i class="fa-solid fa-chevron-right"></i>
    </div>
  <% end %>
</div>
