<%= simple_form_for [@event] do |f| %>
  <div class="d-flex flex-column justify-content-center ">
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="col-10">

      <%= f.input :name,
      label: 'Le nom de votre événement:',
      error: 'Merci de nommer votre event',
      required: true
      %>
    </div>

      <%= f.input :description,
      label: "Description de votre événement",
      error: 'Décrivez votre événement:'
      %>

      <%# # playgrounds_names_and_ids = []
      # @playgrounds.each do |pg|
      #   playgrounds_names_and_ids << [playground.name, playground.id]
      # end %>

      <%= f.input :playground_id,
        label: "Choisissez un sport parmis la liste:",
        error: 'Choisissez parmis les sports & lieux de la liste',
        collection: @playgrounds.map { |playground| [playground.name, playground.id] }
      %>




      <%# <form action="" class="d-flex justify-content-around mb-5">
      <div>
        <label for="start" class="text-center"><strong>Date de début:</strong></label>
        <input type="date" id="start-wanted-date" name="trip-start" value= Date.today min="2024-11-28" max="2028-12-31" />
      </div>
      <div>
        <label for="start" class="text-center"><strong>Date de fin:</strong></label>
        <input type="date" id="end-wanted-date" name="trip-start" value= Date.today min="2024-11-28" max="2028-12-31" />
      </div>
      </form> %>

      <%# <%= f.input :start_at, as: :datetime, class: "form_date" %>
      <%# <%= f.input :end_at, as: :datetime %>

      <div data-controller="datepicker">
        <%= f.input :start_at,
            as: :string,
            input_html: {
              data: {
                controller: "datepicker",
                action:"click->datepicker#open_as_calendar"
              },
              class: "border rounded-4 p-2"
            },
            label:"Date de l'évènement",
            label_html:{
              class: "my-3 mx-3",
            }
        %>
        <%= f.input :start_at,
            as: :string,
            input_html: {
              data: {
                controller: "datepicker",
                action:"click->datepicker#open_as_time_picker"
              },
              class: "border rounded-4 p-2"
            },
            label:"Heure de début",
            label_html:{
              class: "my-3 mx-3",
            }
        %>

      </div>

      <div class="d-flex flex-column justify-content-center mb-3">

        <label for="event_start_at" class="my-3 mx-3">Début:</label>
        <input class="border rounded-4 p-2"
          id="event_start_at"
          type="datetime-local"
          name="event[start_at]"/>

        <label for="event_end_at" class="my-3 mx-3">Fin:</label>
        <input class="border rounded-4 p-2"
          id="event_end_at"
          type="datetime-local"
          name="event[end_at]"/>
      </div>
      <div class="d-flex justify-content-center mt-2">

        <%= f.button :submit, "C'est parti!", class: "btn btn-secondary col-3 mx-auto my-3 text-center text-justify" %>
      </div>

  </div>
<% end %>
