
<div class="pt-4 px-2">
<h1 class="home-title text-center my-4 "> On joue à quoi ? </h1>

<div class="my-4">
  <%= render "search_bar" %>
</div>

  <div class="pills">
    <div class="pills-card">Basketball</div>
    <div class="pills-card">Padel</div>
    <div class="pills-card">Tennis</div>
    <div class="pills-card">Palet</div>
    <div class="pills-card">Lancer de mouettes</div>
    <div class="pills-card">Tir à la mouette</div>
  </div>

<%# calendrier dates %>

  <% if @search_message %>
    <p>
      <%= @search_message %>
      </p>
    <h2>
      Nos évènements
    </h2>
    <div class="horizontal-scroll-wrapper card-grid my-3">
      <% @events.each do |event| %>
        <%= render "event_card", event:event  %>
      <% end %>
    </div>
  <% else %>
    <h2 class="my-2">
      Pour vous
    </h2>
      <div class="horizontal-scroll-wrapper card-grid my-3">
        <% @events.each do |event| %>
          <%= render "event_card", event:event  %>
        <% end %>
      </div>
  <% end %>
</div>


<%=link_to 'Log Out', destroy_user_session_path, data: {turbo_method: :delete}, class:"d-flex justify-content-center"%>
