<div class="position-relative d-flex flex-column align-items-center">

    <div class="pt-3 pb-0">
      <h1 class="event-title-font">
        On joue à quoi ?
      </h1>
    </div>

    <div id="search-bar">
      <%= render "search_bar" %>
    </div>

    <div id="toggle">
    <%= render "toggle_map_list", state:params[:state] %>
    </div>

    <%= turbo_frame_tag :results do %>
      <% if params[:toggle] == "map" %>
        <div id="map-view">
          <%= render "map_with_slider", markers: @markers, user:current_user, near_events:@near_events %>
        </div>
      <% else %>
        <div id="list-view">
          <%= render "index_with_pills_and_cards", search_message:@search_message, events:@events %>
        </div>
      <% end %>
    <% end %>

</div>
