<!DOCTYPE html>
<html>
  <head>
    <title>Sportify</title>
    <link rel="icon" type="image/x-icon" href="https://e7.pngegg.com/pngimages/576/375/png-clipart-football-player-ball-game-football-s-sport-sports-equipment.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <div style="margin-bottom: 115px">
      <%= yield %>
    </div>
    <%= render "shared/navbar"%>
  </body>
</html>
